<ng-container>
  <h1>Pace Inspection</h1>

  <div class="d-flex m-3">
    <label for="inspection-id">Please select inspection type: </label>
    <select id="inspection-id" class="form-select" [formControl]="inspectionTypeControl">
      @for (inspectionType of inspectionTypes$ | async; track inspectionType.id) {
        <option [value]="inspectionType.id">{{ inspectionType.name }}</option>
      }
    </select>
  </div>

  <div [formGroup]="inspectionForm">
    @for (field of formFields; track field.id) {
      <div class="form-group d-flex m-3 row" >
        <label class="col-3" [for]="field.id">{{ field.name }}</label>
        <select
          class="form-select col"
          [id]="field.id"
          [formControlName]="field.id"
          required>
          @for (option of field.condition_options; track option) {
            <option [value]="option.severity_level">
              {{ option.label }}
            </option>
          }
        </select>
      </div>
    }
  </div>

</ng-container>
